<div class="border-right" id="sidebar-wrapper">
      
    <div class="sidebar-heading">
        Main Menu 
    </div>

    <div class="list-group list-group-flush">

        <!-- <a href="#" class="list-group-item list-group-item-action" id = "AddFaculty">Add Faculty</a>

        <a href="#" class="list-group-item list-group-item-action" id = "SearchFaculty">Search Faculty</a>

        <a href="#" class="list-group-item list-group-item-action" id = "ViewFaculty">View Faculty</a> -->

        <a href="./faculty/facultyList.html" class="list-group-item list-group-item-action" id = "faculty">Faculty</a>

        <a href="#" class="list-group-item list-group-item-action" id = "student">Students</a>

        <a href="#" class="list-group-item list-group-item-action" id = "alumni">Alumni</a>

    </div>

</div>

<!-- Loads the Add Faculty page when menu item is clicked -->
<!-- <script>
    $(document).ready(function(){
        $("#faculty").click(function(e){
            e.preventDefault();
            $("#content").load("AddFaculty.html");
        });
    });
</script> -->

<!-- Loads the Search Faculty page when menu item is clicked -->
<!-- <script>
    $(document).ready(function(){
        $("#student").click(function(e){
            e.preventDefault();
            $("#content").load("SearchFaculty.html");
        });
    });
</script> -->

<!-- Loads the View Faculty page when menu item is clicked -->
<!-- <script>
    $(document).ready(function(){
        $("#alumni").click(function(e){
            e.preventDefault();
            $("#content").load("ViewProfile.html");
        });
    });
</script> -->